@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');

* {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

:root {
    --main-white: #f0f0f0;
    --main-red: #cf2c42;
    --main-blue: #42598f;
    --main-gray: #232930;
}

a {
    text-decoration: none;
    list-style: none;
    color: black;
}

a:hover {
    color: rgb(238, 50, 50);
}

nav ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#skills {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150vh;
    background-color: #333;
}

#myskills {
    padding-bottom: 10px;
}

li {
    list-style-type: none;
}

.skills {
    width: 500px;
    margin: 60px auto;
    color: #fff;
}

.skills li {
    margin: 20px 0;
}

.ss {
    margin-bottom: 20px;
}

.bar {
    background-color: #353b48;
    display: block;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px var(--main-white);
}

.bar span {
    height: 3px;
    float: left;
    background-color: var(--main-red);
}

/* #HTML */
.html {
    width: 90%;
    animation: html 2s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

/* #JS */
.js {
    width: 80%;
    animation: js 2s;
}

@keyframes js {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}


/* #CSS */
.css {
    width: 80%;
    animation: css 2s;
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}


/* #Python */
.python {
    width: 70%;
    animation: css 2s;
}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}


/* #Bootstrap */
.bootstrap {
    width: 90%;
    animation: css 2s;
}

@keyframes bootstrap {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

/* #C */
.c {
    width: 95%;
    animation: c 2s;
}

@keyframes c {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}


/* #Java */
.java {
    width: 80%;
    animation: java 2s;
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Base styles */

body {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
}

h1,
h2 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}


a {
    text-decoration: none;
    color: var(--main-white);
}

img {
    display: block;
    width: 200px;
}

/* nav */

.nav {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 1rem;
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

.nav-list a:hover {
    background: var(--main-blue);
}

/* Nav End */

/* Welcome section */

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.welcome-section>p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
}

/* Welcome Section End */

/* Projects section */

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}

.project-tile img {
    padding: 20px 0;
    width: 100%;
    object-fit: cover;
}

.project-tile img:hover {
    opacity: 0.8;
}

/* About */
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    background: white;
    color: black;
}

#about a {
    color: black;
}

#about a:hover {
    color: red;
}


/* Project Grid */

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}


.project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: #ff7f50;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
}

.btn-show-all:hover {
    background: var(--main-red);
}

.btn-show-all:hover>i {
    transform: translateX(2px);
}

.btn-show-all>i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

/* Project Grid End*/

/* Contact section */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    background: var(--main-gray);
}

.contact-section-header>h2 {
    font-size: 6rem;
}


.contact-section-header>p {
    font-style: italic;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}

/* Contact Section End */

/* Footer */

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
}

footer>p {
    margin: 2rem;
}

footer i {
    vertical-align: middle;
}



/* Footer End */


/* Blockquote */

.blockquote--text {
    font-style: italic;
    font-size: 1.4em;
    line-height: 1.5;
    margin: 0;
}

.blockquote--border {
    border-left-width: 10px;
}

.blockquote {
    margin: 30px 30px;
    padding: 25px;
    background: white;
    border: 5px solid rgb(34, 31, 31);
    color: rgb(34, 31, 31);
    box-sizing: border-box;
    border-radius: 10px;
}

/* Blockquote End */